# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / Packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# IDE-specific files
.vscode/
.idea/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Bandit security scan reports
.bandit/

# Other
*.pyo
tests/